.empty-view-container,
.loader-container {
  flex: 1;
  display: flex;
  background-color: rgb(33, 30, 40);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 78vh;
}
.movies-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.no-results-heading{
  font-family: "Roboto";
  color:#ffffff;
  font-size:30px;
}
.no-results-para{
  font-family: "Roboto";
  color:#ffffff;
  font-size:25px;
}